.page-wrapper {
	
}
.player-1{}
.player-2{}
.player-2 object{}
.page-wrapper,.barrita {
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	clear: both;
}

.barrita {
	
}
.edit-link{}
.menu-left {
	float: left;
}

.menu-right {
	float: right;
}

form.follow {
	display: inline;
}

.search-form {
	display: inline;
}

.search-form input {
	display: inline;
}

.barrita-wrapper {
	
}

.mainBody {
	float: left;
	margin-left: 0;
	margin-right: -660px;
	width: 660px;
	padding: 0;
	padding-right: 5px;
	margin-bottom: 30px;
	/*     padding: 10px; */
	/* 	border: 1px solid #555555; */
}

.mainBody,.sidebar {
	overflow: visible;
	word-wrap: break-word;
}

.sidebar {
	float: left;
	margin-left: 660px;
	margin-right: -960px;
	padding: 0;
	padding-left: 5px;
	width: 300px;
}

/*sitemesh*/
body {
	font-family: "scala-regular", "sketch", Georgia, arial, sans-serif;
	/* 	background-color: #ffffcc; */
}
a {    text-decoration: none;}
ul {
	list-style: none outside none;
	padding-left: 0;
}
/* h1,h2,h3,h4 { */
/* 	text-align: center; */
/* 	background-color: #ccffcc; */
/* 	border-top: 1px solid #66ff66; */
/* } */
.disclaimer {
	text-align: center;
	border-top: 1px solid #cccccc;
	margin-top: 40px;
	color: #666666;
	font-size: smaller;
	clear: both;
}
/*error block*/
.errorblock {
	color: #ff0000;
	background-color: #ffEEEE;
	border: 3px solid #ff0000;
	padding: 8px;
	margin: 16px;
}
/*forms*/
input.fixed-height{height:25px;}
input,textarea {
	border: 1px solid #CCC;
	margin-top: 15px;
}
input.long{width:640px;}
input.medium{
	width:400px;
	margin-right:10px;
	}
input.button{
    border: 3px solid #CCCCCC;
    padding: 5px;
}
.error-field{
	color:red;
	font-weight:bold;
	}
input.button{
	height: 40px;
}
textarea {
	
}

form {
	
}

textarea,form {
	max-width: 640px !important;
}

p {
	margin-top: 10px !important;
	margin-bottom: 10px !important;
}

div {
	
}

span {
	
}

input.title {
	width: 640px;
}
#tagsPreview{
	min-height:20px;
/* 	border: solid 1px #CCC; */
	}
.tagPreview {
    border: 1px solid #CCCCCC;
    margin-right: 10px;
    margin-top: 5px;
    padding: 5px;
}
.tagPreview span{}
.tagPreview a {
    border: 1px solid orange;
    margin: 5px 0 5px 5px;
    padding: 0 5px;
}