.page-wrapper {
	    padding-top: 10px;
}
#over-all-box-wrapper{
	position:absolute;
	top:0;
	width:100%;
	height:100%;
	background: green;
	display:none;
/* 	opacity:0.4; */
/* filter:alpha(opacity=40); For IE8 and earlier */
background:url(../img/background.png);
	}
#over-all-box{
/* 	opacity:1; */
	margin-top:100px;
	width:50%;
	margin-left:25%;
	text-align:left;
	padding:15px;
	border:1px dashed #333;
	background-color:#eee;
	
}
.player-1{}
.player-2{}
.player-2 object{}
.page-wrapper,.barrita {
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	clear: both;
}
.content-delete input, 
.content-edit input, 
.content-show input{border: none;} 
.barrita {
	
}
.edit-link{}
.menu-left {
	float: left;
}
.menu-left img{
/* 	width:24px;  */
}
.menu-right {
	float: right;
}

form.follow, .follow-link {
	display: inline;
}

.register-form-link,
.login-form-barrita{float:left;}
.register-form-link{margin-left:15px;}
/*
.ui-menu-item {
    background: none repeat scroll 0 0 green;
    border: 1px solid #333333;
    width: 400px;
}*/
/* .ui-menu-item a{background:red;} */
.search-form {
	display: inline;
}
#relation-box-wrapper, 
#comments-box{ margin-top:10px; }
.relation-result span {
	margin-right:10px;
	margin-left:10px;
	}
.rating{margin:0 !important;}
.search-form input {
	display: inline;
}

/*
a
*/
#search-box-trigger,
#search-box-trigger img{
   outline: 0;
}
.barrita-wrapper {
	padding-top:5px;
}
.tabNavigation li{
	display:inline;
}
.tabNavigation li a{
	padding:6px;
}
.tab{
	padding:10px;
	border:1px solid #EDEDED;
	border-top:none;
}
.tab, .selected{
background-color: #bfbfbf;
    color: #FFFFFF;
    border:1px solid #BFBFBF;
}
.selected{}
#search-box-trigger{
	float:left;
	padding-right:10px;
}
.mainBody {
	float: left;
	margin-left: 0;
	margin-right: -660px;
	width: 660px;
	padding: 0;
	padding-right: 5px;
	margin-bottom: 30px;
	/*     padding: 10px; */
	/* 	border: 1px solid #555555; */
}

.mainBody,.sidebar {
	
	overflow: visible;
	word-wrap: break-word;
}
.sidebar-box-wrapper{
/* 	min-height:160px; */
	}

.sidebar {
	float: left;
	margin-left: 660px;
	margin-right: -960px;
	padding: 0;
	padding-left: 5px;
	width: 300px;
}

/*sitemesh*/
body {
/* 	font-family: "scala-regular", "sketch", Georgia, arial, sans-serif; */
/* font-family: Times New Roman,sans-serif, monospace, sans; */
font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
	/* 	background-color: #ffffcc; */
	 line-height: 25px;
	 font-size:10px;
}
a {    
	text-decoration: none;
	outline:none;
	}
ul {
	list-style: none outside none;
	padding-left: 0;
}
/* h1,h2,h3,h4 { */
/* 	text-align: center; */
/* 	background-color: #ccffcc; */
/* 	border-top: 1px solid #66ff66; */
/* } */
.disclaimer {
	text-align: center;
	border-top: 1px solid #cccccc;
	margin-top: 40px;
	color: #666666;
	font-size: smaller;
	clear: both;
}
/*error block*/
.errorblock {
	color: #ff0000;
	background-color: #ffEEEE;
	border: 3px solid #ff0000;
	padding: 8px;
	margin: 16px;
}
/*forms*/
input.fixed-height{height:25px;}
input,textarea {
	border: 1px solid #CCC;
	margin-top: 15px;
}
 .img-input{border:none;} 
input.long{width:640px;}
input.medium{
	width:400px;
	margin-right:10px;
	}
input.button{
    border: 1px solid #CCCCCC;
    padding: 3px;
}
.error-field{
	color:red;
	font-weight:bold;
	}
input.button{
/* 	height: 40px; */
}
.left{
	float:right;
	margin-left:5px;
}
.left input{}
textarea {
	
}

form {
	
}

textarea,form {
	max-width: 640px !important;
}

p {
	margin-top: 10px !important;
	margin-bottom: 10px !important;
}

div {
	
}

span {
	
}
.pager div {
    float: left;
    width: 50%;
}
.pager div a{
/*     border: 1px solid #EDEDED; */
    margin-left: 60px;
    padding: 3px;
	}
div.pager {
    clear: both;
}
.sidebar-box-wrapper{
	border: 1px solid #EDEDED;
    clear: both;
    margin-bottom: 10px;
    padding: 10px 10px 28px;
}
.users-sidebar-box-wrapper{}
.users-sidebar-box-wrapper ul{
/* 	height:106px; */
	}
.users-sidebar-box-wrapper ul li{
	float:left;
	width:50%;
	}
/*
inline forms
*/
.unfollow-user, .follow-user{
	display:inline;
	border: 1px solid #999;
	padding:2px 3px;
	}
div.title{clear:both;}
input.title {
	width: 640px;
}
#tagsPreview{
	min-height:20px;
/* 	border: solid 1px #CCC; */
	}
.tagPreview {
    border: 1px solid #CCCCCC;
    margin-right: 10px;
    margin-top: 5px;
    padding: 5px;
}
.tagPreview span{}
.tagPreview a {
    border: 1px solid orange;
    margin: 5px 0 5px 5px;
    padding: 0 5px;
}
.show-tags-box{margin-bottom:10px;}
.show-tags-box ul{display:inline;}
.show-tags-box ul li{
/* 	 border: 1px solid green; */
    display: inline;
    margin-right: 10px;
}
.show-tags-box ul li a {}
.follow-user-link img,
.follow-tag-link img,
img.remove-relation{
	border: 1px solid #333333;
    padding: 2px;
    border-radius:7px;
}