<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:security="http://www.springframework.org/schema/security"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.1.xsd">

	<security:http auto-config="true">
<!-- 		<security:intercept-url pattern="/" access="IS_AUTHENTICATED_ANONYMOUSLY" 	/> -->
		<security:intercept-url pattern="*.js" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<security:intercept-url pattern="/login.jsp" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<security:intercept-url pattern="/**" access="ROLE_USER" />
		<security:form-login login-page="/login.jsp" 
			default-target-url="/" authentication-failure-url="/login.jsp?error=true"/>
		<security:logout logout-success-url="/" />
	</security:http>

	<security:authentication-manager>
		<security:authentication-provider
			ref="authenticationProvider" />

	</security:authentication-manager>

	<bean id="authenticationProvider" class="com.mati.demo.authentication.AuthenticationProviderImpl">
		<property name="userDetailsService" ref="user.details.service" />
	</bean>

	<bean id="user.details.service" class="com.mati.demo.authentication.UserDetailsServiceImpl">
		<property name="baseModel" ref="base.model"></property>
	</bean>

</beans>