<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-3.1.xsd">


	<!-- <?xml version="1.0" encoding="UTF-8"?> -->
	<!-- <beans xmlns="http://www.springframework.org/schema/beans" -->
	<!-- xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" -->
	<!-- xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"> -->

	<context:property-placeholder location="classpath:general.properties" />

<!--   <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"> -->
<!--     <property name="location" value="file:/${SYSTEM_CONFIG}"/> -->
<!--   </bean> -->

	<bean id="prevayler.factory" class="org.prevayler.PrevaylerFactory"></bean>
	
	<bean id="model.provider" class="com.mati.demo.prevalence.PrevalenceModelProvider" init-method="init">

		<property name="prevalenceDirectory" value="${user.home}/${prevalence.directory}"></property>
		<property name="prevalenceBase" value="${prevalence.base}"></property>
		<property name="prevaylerFactory" ref="prevayler.factory"></property>
		<property name="prevalentSystem" ref="model.base"></property>
	</bean>

	<bean id="model.base" class="com.mati.demo.model.base.BaseModel"></bean>
</beans>
